.page-not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f8d5a3; /* Pokémon sarısı */
  text-align: center;
  font-family: 'Press Start 2P', cursive; /* Pokémon tarzı yazı tipi */
}

/* Hata kodu ve Pokémon topu stil ayarları */
.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: #ffcb05; /* Pokémon sarısı */
}

.error-code {
  margin: 0 10px;
}

.pokeball {
  width: 80px;
  height: 80px;
  background: radial-gradient(circle, #fff 50%, #ff0000 50% 80%, #fff 80%);
  border-radius: 50%;
  position: relative;
}

.pokeball::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* Hata metni stil ayarları */
.error-text {
  font-size: 1.5rem;
  color: #3b4cca; /* Pokémon mavisi */
  margin-top: 20px;
}

/* Geri dön linki stil ayarları */
.go-home-link {
  font-size: 1.2rem;
  color: #3b4cca; /* Pokémon mavisi */
  text-decoration: none;
  margin-top: 10px;
  padding: 10px 20px;
  border: 2px solid #3b4cca;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.go-home-link:hover {
  background-color: #3b4cca; /* Pokémon mavisi */
  color: #fff;
}